<!doctype html>
{% load staticfiles %}
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href='http://fonts.googleapis.com/css?family=Nunito&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <title>My DjangoGirls Blog</title>
    </head>
    <body>
        <div class="page-header">
            <h1><a href="#">Django Girls Blog</a></h1>
            <h3>{{ title }}</h3>
        </div>
        <!--<div class="headlines">-->
            <!--{% for post in posts %}-->
                <!--{{ post }}-->
            <!--{% endfor %}-->
        <!--</div>-->
        {% for post in posts %}
        <div class="posts">
            <p class="publishdate">published: {{ post.published_date }}</p>
            <h2><a href="#">{{ post.title }}</a></h2>
            <p class="author">{{ post.author }}</p>
            <p class="text">{{ post.text|linebreaksbr }}</p>
        </div>
        {% endfor %}
    </body>
</html>